@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: rgb(3, 72, 145)
    
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

form input, label, button{
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

form input{
    font-size: 20px;
    height: 50px;
    padding: 0px 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color); 
}

form button{
    border: none;
    background-color: rgba(65, 65, 139, 0.441);
    font-size: 18px;
    font-weight: 700px;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: rgba(72, 95, 247, 0.547);
}

form button:active{
    background-color: rgba(42, 49, 255, 0.914);
}